*{
  font-family: 'Poppins', sans-serif;
}
.container{
  margin: 0 auto;
  width: 1140px;
}

@import 'mainSection';
@import 'buttons';
@import 'about';
@import 'expSection';
@import 'sectionLang';
@import 'worksSection';
@import 'praceSection'